<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Library</title>
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/libraryBooks.css">
</head>
<body>
<div class="container">
    <h1>Your Library</h1>
    <div class="books-container">
        <% if (books.length > 0) { %>
            <% books.forEach(book => { %>
                <div class="book">
                    <div class="book-info">
                        <img src="<%= book.cover_image %>" alt="<%= book.title %>">
                        <div class="book-details">
                            <h2><%= book.title %></h2>
                            <p><strong>Author:</strong> <%= book.author_name %></p>
                            <p><strong>Status:</strong> <%= book.status %></p>
                        </div>
                    </div>
                    <div class="book-actions">
                        <a href="/library/<%= book.google_id %>" class="btn btn-primary">See Book</a>
                        <form action="/library/<%= user.id %>/<%= book.google_id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Remove Book</button>
                        </form>
                        <a href="/ratings/<%= book.google_id %>" class="btn btn-secondary">Rate and Comment Book</a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No books found in your library.</p>
        <% } %>
    </div>
</div>
</body>
</html>