<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %> - Book Details</title>
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/details.css">

</head>
<body>
    <div class="container">
        <div class="book-details">
            <div class="book-cover">
                <img src="<%= book.cover_image %>" alt="<%= book.title %>" class="image">
            </div>
            <div class="book-info">
                <div class="title-back-button">
                    <h1><%= book.title %></h1>
                    <a id="back-btn" class="btn btn-secondary back-btn">Back to Search</a>
                </div>
                <p><strong>Authors:</strong> <%= book.authors || 'No authors available' %></p>
                <p><strong>Description:</strong> <%- book.description || 'No description available.' %></p>
                <p><strong>Genres:</strong> <%= book.genre || 'No genre available' %></p>
                <p><strong>Year of Publication:</strong> <%= book.year_of_publication %></p>
            </div>
        </div>

        <form id="add-to-library-form" method="POST">
            <input type="hidden" name="google_id" value="<%= book.google_id %>">
            <input type="hidden" name="title" value="<%= book.title %>">
            <input type="hidden" name="authors" value="<%= book.authors.join(', ') %>">
            <input type="hidden" name="genre" value="<%= book.genre.join(', ') %>">
            <input type="hidden" name="year_of_publication" value="<%= book.year_of_publication %>">
            <input type="hidden" name="description" value="<%= book.description %>">
            <input type="hidden" name="cover_image" value="<%= book.cover_image %>">
            <button type="submit" class="btn btn-primary">Add to Library</button>
        </form>
    </div>
</body>

<script>
    document.getElementById("back-btn").addEventListener('click', () => {
        history.back();
    });
</script>
</html>
